<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>
    <script src="/webjars/font-awesome/6.2.0/js/all.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1>Movies</h1>
    <p>movies mongodb collection.</p>
</div>

<div class="container">


<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Released</th>
        <th>Rating</th>
        <th>Info</th>
        <th>Delete</th>
    </tr>
    </thead>


    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.released}"></td>
        <td th:text="${movie.imdb.rating}"></td>
        <td><a href="#" th:href="@{'/movie/info/' + ${movie.id}}"><i class="fa-solid fa-circle-info"></i></a></td>
        <td><a href="#" th:href="@{'/movie/delete/' + ${movie.id}}"><i class="fa-solid fa-trash"></i></a></td>

    </tr>
</table>



<!--
<a href="#" th:href="@{'/movie/form'}">
    <button class="btn btn-primary">New</button>
</a>-->
    </div>
</body>
</html>
